.aside {
  flex: 0 0 370px;
  width: 100%;
  max-width: 370px;
  border-right: 1px solid #efefef;

  &__search {
    height: 72px;
    padding: 25px 25px 25px 35px;
    border-bottom: 1px solid #efefef;
  }

  &__search-form {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
  }

  &__search-btn {
    background: none;
    border: none;
  }

  &__search-input {
    width: 100%;
    padding: 0.3em 0.5em;
    border: none;
    transition: background-color 0.2s ease-out;

    &::placeholder {
      color: #777;
    }

    &:focus,
    &:hover {
      background-color: var(--background-hover);
      outline: none;
    }
  }

  &__collections {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
  }
}

.collections-item {
  padding: 12px 60px 12px 32px;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: var(--background-hover);
  }
}
