.banner {
  display: grid;
  grid-template-areas: 1fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1rem;

  &__img {
    position: relative;
    padding: 0 0 75%;
    overflow: hidden;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 1px 3px 6px #d4d4d4;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--big {
      grid-row: span 2;
      grid-column: span 1;
    }
  }
}
