.brand-carousel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: center;

  &__content {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
}

.left-arrow,
.right-arrow {
  border: 2px solid #efefef;
  border-radius: 50%;
  cursor: pointer;

  &-icon {
    width: 32px;
    max-width: unset;
    height: 32px;
    padding: 6px;
  }
}

.left-arrow {
  transform: rotate(180deg);
}

.brand {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  padding-top: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #eee;
  }

  &__image {
    width: 55px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 6px;
  }

  &__title {
    color: #333;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: center;
  }
}
