.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 40px;
  font-size: 1rem;
  border-bottom: 1px solid #efefef;

  &__content {
    display: flex;
    gap: 50px;
  }

  &__logo {}

  &__contacts {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__phone-link {
    color: #333;
    font-weight: 600;
    font-family: Golos, Helvetica, sans-serif;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__links {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 500;
  }

  &__link {
    color: #777;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__controls {
    display: flex;
    gap: calc(36px - 0.5rem);
    align-items: center;
  }

  &__control {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: var(--background-hover);
    }
  }
}
